@import '../../style/variables.scss';

.appBox {
  max-width: 1350px;
  // margin: 80px auto;
  --icon-size: 60px;
  --icon-gap-y: 30px;
  --icon-gap-x: 30px;
  --app-radius: 16px;
  flex: 1;
  min-height: 0;
  width: 100%;
  padding: 0 60px;
  box-sizing: border-box;
  overflow: hidden;
  @include respond-to("notebook") {
    --icon-size: 55px;
  --icon-gap-y: 30px;
  --icon-gap-x: 30px;
  --app-radius: 8px;
  }
  @include respond-to("phone") {
    --icon-size: 50px;

  --app-radius: 8px;
  }
}