  @keyframes scale {
    0% {
      transform: scale(0);
      opacity: 0;
    }

    60% {
      transform: scale(1.03);
      opacity: 1;
    }

    100% {
      transform: scale(1);
    }
  }

  .rightBox {
    width: 200px;
    background-color: #fff;
    position: fixed;
    outline: none;
    box-shadow: #00000080 0 10px 30px;
    z-index: 999;
    border-radius: 8px;
    padding: 5px 4px;
    background-color: #0b0b0bcc;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(11, 11, 11, .2);
    box-sizing: border-box;
    margin: 0;
    animation: scale .2s both;
    transform-origin: 0% 0%;
    vertical-align: baseline;
    color: #fff;
    .item {
      font-size: 12px;
      line-height: 30px;
      
      padding: 0 6px;

      margin: 4px 0;
      border-radius: 6px;
      display: flex;
      align-items: center;

      .iconItem {
        font-size: 16px;
        margin-right: 8px;
      }
    }

    .clickItem {
      cursor: pointer;

      &:hover {
        background-color: #ffffff1a;
      }
    }

    .layoutBox {
      display: flex;
      flex-wrap: wrap;

      .tag {
        font-size: 12px;
        height: 20px;
        line-height: 20px;
        width: calc(100% / 4 - 6px);
        background-color: #ffffff1a;
        border-radius: 12px;
        text-align: center;
        margin: 0 2px 4px;
        cursor: pointer;
        
        transition: background-color .25s;
        &:nth-child(3n){
          margin-right: 0;
        }
        &:hover{
          background-color: #fff3;
        }
        &.active{
          background-color: #ffffff4d;
        }
      }
    }
  }