  .time {
    text-align: center;
    color: #fff;
    pointer-events: none;
    .mainTime {
      height: 70px;
      font-size: 70px;
      line-height: 70px;
      opacity: 0.88;
    }
    .mainDay {
      height: 26px;
      font-size: 14px;
      line-height: 26px;
      opacity: 0.88;
    }
  }