.appItem {
  color: #fff;
  text-align: center;
  cursor: pointer;
  transform: scale(1);
  width: calc(var(--icon-size) + var(--icon-gap-y));
  height: calc(var(--icon-size) + var(--icon-gap-x));
  transition: all .2s;
  @for $i from 1 to 5 {
    @for $j from 1 to 5 {
      &.app-size-#{$i}-#{$j} {
        grid-column: span #{$i};
        grid-row: span #{$j};
        @if $i > 1 {
          width: calc(var(--icon-size)* #{$i} + var(--icon-gap-y)* (#{$i} - 1))
        } @else  {
          width: var(--icon-size);
        } 
        @if $j > 1 {
          height: calc(var(--icon-size)* #{$j} + var(--icon-gap-x)* (#{$j} - 1))
        } @else  {
          height: var(--icon-size);
        } 
      }
    }
  }
  &:active{
    transform: scale(.9);
  }
  .appIcon {
    background-color: var(--background,#fff);
    width: 100%;
    height: 100%;
    border-radius: var(--app-radius);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    .appIconImg {
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;

    }
  }

  .appName {
    width: 100%;
    margin-top: 6px;
    text-align: center;

    font-size: 12px;
    // line-height: 1.1;
    overflow: hidden;
    /*超出部分隐藏*/
    white-space: nowrap;
    /*禁止换行*/
    text-overflow: ellipsis;
    /*省略号*/
  }

}