.appItem {
  color: #fff;
  text-align: center;
  cursor: pointer;
  &.app-size-1-1 {
    grid-column: span 1;
    grid-row: span 1;
    width: calc(var(--icon-size)* 4 + var(--icon-gap-y)* 3);
    height: calc(var(--icon-size)* 2 + var(--icon-gap-x));
  }
  .appIcon {
    background-color: var(--background);
    width: var(--icon-size);
    height: var(--icon-size);
    border-radius: var(--app-radius);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    .appIconImg{
      width: 100%;
      height: 100%;
      object-fit: cover;
      
    }
  }
  .appName{
    width: var(--icon-size);
    margin-top: 6px;
    text-align: center;
    
    font-size: 12px;
    line-height: 1.1;
    overflow: hidden;  /*超出部分隐藏*/
    white-space: nowrap;  /*禁止换行*/
    text-overflow: ellipsis; /*省略号*/
  }
  
}