  .search{
    display: flex;
    justify-content: center;
    margin: 20px 0;
    width: 100%;
    max-width: 600px;
    :global{
      .ant-input-group-addon{
        background-color: #fff;
      }
      .ant-input-outlined{
        border-color: #d9d9d9 !important;
        box-shadow: none;
      }
      .ant-input-affix-wrapper-lg{
        height: 40px;
      }
      
    }
  }
 